<div class="container-fluid">
    <form [formGroup]="formGroup">
        <md-editor name="Content" formControlName="text" [height]="'300px'"></md-editor>

        <div class="row">
            <div class="col-3">
                <mat-form-field appearance="outline" class="width-100">
                    <mat-label>Text</mat-label>
                    <input matInput formControlName="colour" type="color" />
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="width-100">
                    <mat-label>Background</mat-label>
                    <input matInput formControlName="backgroundColour" type="color" />
                </mat-form-field>
            </div>
            <div class="col-6">
                <label id="justify{{id}}" class="width-100">Alignment</label>
                <mat-radio-group formControlName="align" aria-labelledby="justify{{id}}">
                    <mat-radio-button value="left">Left</mat-radio-button>
                    <mat-radio-button value="center">Centred</mat-radio-button>
                    <mat-radio-button value="right">Right</mat-radio-button>
                </mat-radio-group>            
            </div>
        </div>

    </form>
</div>