<!-- <form [formGroup]="formGroup">
    <md-editor name="Content" [(ngModel)="section.text" [height]="'300px'"></md-editor>

    <div class="row form-group">
        <label for="colour" class="col-md-3 col-sm-6 col-form-label">Text colour:</label>
        <div class="col-md-3 col-sm-6">
            <input formGroupName="colour" type="color" />
        </div>
    </div>

    <div class="row form-group">
        <label for="backgroundColour" class="col-md-3 col-sm-6 col-form-label">Background colour:</label>
        <div class="col-md-3 col-sm-6">
            <input formGroupName="backgroundColour" type="color" />
        </div>
    </div>

    <p class="mt-3">Text alignment:</p>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="align" id="{{id}}1" value="left"
            [(ngModel)]="section.align">
        <label class="form-check-label" for="{{id}}1">Left</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="align" id="{{id}}2" value="center"
            [(ngModel)]="section.align">>
        <label class="form-check-label" for="{{id}}2">Centred</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="align" id="{{id}}3" value="right"
            [(ngModel)]="section.align">>
        <label class="form-check-label" for="{{id}}3">Right</label>
    </div>
</form> -->