.scroll-list {
    height: 80vh; 
    overflow-y: auto;

    img {
        max-width: 100%;
    }
}

::ng-deep .mat-select-content{
    width: 100%;
    background-color: red;
    font-size: 10px;   
}