<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3" *ngIf="section && section.image">
      <mat-card [style.height.%]="100">
        <img
          [src]="prefix + section.image.preview_small.path"
          class="img-fluid"
          [attr.alt]="section.image.description"
        />
      </mat-card>
    </div>
    <div class="col-sm-9">
      <h4>Select image:</h4>
      <div>
          <button mat-button-raised color="primary" (click)="select()">Select Image</button>
      </div>  
    </div>
  </div>
</div>
