<div class="row">
    <div class="col-sm-6">
        <h4>Available images</h4>
        <div class="list-group scroll-list">
            <ng-container *ngFor="let img of images">
                <button (click)="set(img)" class="list-group-item list-group-item-action">
                    <img [src]="prefix + img.preview_xxs.path" />
                </button>
            </ng-container>
        </div>
    </div>
    <div class="col-sm-6">
        <h4>Selected image</h4>
        <ng-container *ngIf="section && section.image">
            <img [src]="prefix + section.image.preview_xxs.path" />
        </ng-container>
    </div>
</div>