<div class="row">
    <div class="col-sm-6">
        <h4>Available images</h4>
        <div class="list-group scroll-list">
            <ng-container *ngFor="let img of images">
                <button (click)="add(img)" class="list-group-item list-group-item-action">
                    <img [src]="prefix + img.preview_xxs.path" />
                </button>
            </ng-container>
        </div>
    </div>
    <div class="col-sm-6">
        <h4>Selected images</h4>
        <div class="list-group scroll-list">
            <ng-container *ngFor="let img2 of section.images; let i = index">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <img [src]="prefix + img2.preview_xxs.path" />
                        </div>
                        <div class="col-6 text-right">
                            <div class="form-group">
                                <label>Description:</label>
                                <input type="text" class="form-control" [(ngModel)]="img2.description">
                            </div>
                            <button class="btn btn-danger mb-3" (click)="remove(i)">Remove</button>
                            <button class="btn btn-secondary ml-3 mb-3" (click)="up(i)">Move up</button>
                            <button class="btn btn-secondary ml-3 mb-3" (click)="down(i)">Move down</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div class="form-group mt-3">
    <label>Margin:</label>
    <input class="form-control-range" type="range" min="0" max="50" step="1" [(ngModel)]="section.imageMargin"
        (ngModelChange)="change()" />
    <small class="form-text text-muted mt-0">
        The gap between the images when displayed in the gallery:
        {{ section.imageMargin }}.
        Tip: User the media section to see how gallery will look.
    </small>
</div>

<div class="form-group mt-3">
    <label>Image size:</label>
    <input class="form-control-range" type="range" min="0" max="300" step="1" [(ngModel)]="section.imageSize"
        (ngModelChange)="change()" />
    <small class="form-text text-muted">
        The hieght of the row of images: {{ section.imageSize }}.
        Tip: User the media section to see how gallery will look.
    </small>
</div>


<div class="form-group mt-3">
    <label>Name:</label>
    <input class="form-control" type="text" [(ngModel)]="section.galleryName" (ngModelChange)="change()" />
</div>
<small class="form-text text-muted mt-0">If set, this name will appear as a heading above the gallery.</small>

<div class="form-group mt-3">
    <label>Rows per page:</label>
    <input class="form-control" type="number" [(ngModel)]="section.rowsPerPage" (ngModelChange)="change()" />
    <small class="form-text text-muted">
        The number of rows to show on gallery before splitting into multiple
        pages
    </small>
</div>