<div class="container-fluid">
    <h1>Site Administration</h1>

    <ng-container *ngIf="loaded">

        <mat-horizontal-stepper [linear]="false">
            <mat-step label="Set global options">
                <mat-form-field>
                    <input matInput [(ngModel)]="site.name" (ngModelChange)="change()" type="text" placeholder="Site name" />
                </mat-form-field>

                <mat-grid-list cols="2">
                    <mat-grid-tile>
                        <mat-form-field>
                            
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>

                    </mat-grid-tile>
                </mat-grid-list>

                <button mat-raised-button color="primary" (click)="save()">Save site</button>
            </mat-step>
            <mat-step label="Upload images to site">

            </mat-step>
            <mat-step label="Organise content">

            </mat-step>
        </mat-horizontal-stepper>

        <ngb-tabset>
            <ngb-tab title="Content">
                <ng-template ngbTabContent>

                    <div class="text-right">
                        <button (click)="save()" class="btn btn-primary">Save site</button>
                    </div>

                    <h2 class="mt-4">Site settings</h2>

                    <div class="form-group">
                        <label for="colour">Name:</label>
                        <input [(ngModel)]="site.name" (ngModelChange)="change()" type="text" class="form-control" />
                        <small class="form-text text-muted">
                            The name of the site is displayed in the header.
                        </small>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="colour">Header bar text colour:</label>
                            <input [(ngModel)]="site.headerColour" (ngModelChange)="change()" type="color"
                                class="form-control" />
                        </div>

                        <div class="form-group col-6">
                            <label for="colour">Header bar background colour:</label>
                            <input [(ngModel)]="site.headerBackground" (ngModelChange)="change()" type="color"
                                class="form-control" />
                        </div>
                    </div>

                    <h2 class="mt-4">Pages</h2>
                    <div *ngIf="site && site.pages && site.pages.length" class="row">
                        <div class="col-sm-3">
                            <div class="list-group">
                                <ng-container *ngFor="let p of site.pages; let i = index">
                                    <button class="list-group-item text-left"
                                        [ngClass]="{ 'list-group-item-action active': i === activePage }"
                                        (click)="select(i)">
                                        {{ p.name }}
                                    </button>
                                </ng-container>
                            </div>
                            <div class="text-right mt-4">
                                <button (click)="add()" class="btn btn-success">Add page</button>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <app-edit-page [(page)]="site.pages[activePage]"></app-edit-page>
                            <div class="text-right mt-3">
                                <button class="btn btn-danger" (click)="remove(activePage)">Remove page</button>
                                <button class="btn btn-secondary ml-2" (click)="up(activePage)">Move page up</button>
                                <button class="btn btn-secondary ml-2" (click)="down(activePage)">Move page
                                    down</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Media Library">
                <ng-template ngbTabContent>
                    <app-media></app-media>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </ng-container>
</div>