<div class="container-fluid">
    <h1>Site Administration</h1>

    <ng-container *ngIf="loaded">

        <mat-horizontal-stepper [linear]="false">
            <mat-step label="Set global options">
                <mat-form-field appearance="outline" class="width-100">
                    <mat-label>Site name</mat-label>
                    <input matInput [(ngModel)]="site.name" (ngModelChange)="change()" type="text"
                        placeholder="Site name" />
                    <mat-hint>The name of the site is displayed in the header.</mat-hint>
                </mat-form-field>

                <div class="row mt-4">
                    <div class="col">
                        <mat-form-field appearance="outline" class="width-100">
                            <mat-label>Header bar text colour</mat-label>
                            <input matInput [(ngModel)]="site.headerColour" (ngModelChange)="change()" type="color" />
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" class="width-100">
                            <mat-label>Header bar background colour</mat-label>
                            <input matInput [(ngModel)]="site.headerBackground" (ngModelChange)="change()"
                                type="color" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="text-right">
                    <button mat-raised-button color="primary" (click)="save()">Save site</button>
                </div>
            </mat-step>
            <mat-step label="Upload images to site">
                <app-media></app-media>
            </mat-step>
            <mat-step label="Organise content">
                <ng-container *ngIf="site && site.pages && site.pages.length">

                    <h2>
                        Pages
                    </h2>

                    <p>Drag and drop pages to rearrange order.</p>
                    
                    <div cdkDropList class="row" (cdkDropListDropped)="dropPage($event)">
                        <mat-card class="col-2" (click)="select(i)" *ngFor="let p of site.pages; let i = index" cdkDrag [ngClass]="{ 'card-active': i === activePage }">
                            {{ p.name }}
                        </mat-card>                        
                    </div>

                    <div class="text-right mt-4">
                        <button (click)="add()" mat-raised-button color="accent">
                            <mat-icon>add_circle</mat-icon> Add page
                        </button>
                    </div>

                    <h2>Properties for {{site.pages[activePage].name }}</h2>
                    <app-edit-page [(page)]="site.pages[activePage]"></app-edit-page>

                    <div class="text-right">
                        <button mat-raised-button color="primary" (click)="save()">Save site</button>
                    </div>
                </ng-container>
            </mat-step>
        </mat-horizontal-stepper>

    </ng-container>

    <button (click)="toast()">test toast</button>
</div>