<ng-template #nodeTemplateRef let-node="node">
  <div class="m-0 p-0">
    <a (click)="selectNode(node)" class="node__label" [class.selected]="node === selectedFolder">
      <ng-container *ngIf="hasChildren(node.rowKey)">
        <fa-icon *ngIf="isExpanded(node.rowKey)" [icon]="caretDown" [fixedWidth]="true"></fa-icon>
        <fa-icon *ngIf="isExpanded(node.rowKey)" [icon]="folderOpen" [fixedWidth]="true"></fa-icon>
        <fa-icon *ngIf="!isExpanded(node.rowKey)" [icon]="caretRight" [fixedWidth]="true"></fa-icon>
        <fa-icon *ngIf="!isExpanded(node.rowKey)" [icon]="folder" [fixedWidth]="true"></fa-icon>
      </ng-container>
      <ng-container *ngIf="!hasChildren(node.rowKey)">
        <fa-icon [icon]="caretRight" [fixedWidth]="true" [style.opacity]="0"></fa-icon>
        <fa-icon [icon]="folder" [fixedWidth]="true"></fa-icon>
      </ng-container>
      {{ node.name }}
    </a>
    <div class="m-0 pl-4" *ngIf="isExpanded(node.rowKey)">
      <ng-template ngFor let-child [ngForOf]="getChildren(node.rowKey)">
        <!-- Invoke the recursive template. -->
        <ng-template
          [ngTemplateOutlet]="nodeTemplateRef"
          [ngTemplateOutletContext]="{ node: child }"
        >
          <!--
        Because we are using nested ngTemplates (rather than the template
        input of the ngFor directive), we have more control over how the
        data is made available to the recursive template. In this case,
        we're passing "child" through as "node".
      -->
        </ng-template>
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="folders">
  <ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ node: getRoot() }">
  </ng-template>
</ng-container>
