<ng-container *ngIf="loaded">
  <app-header [site]="site"></app-header>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
  <main class="main-body">
    <router-outlet></router-outlet>
  </main>
  <footer class="container-fluid">
    <div class="row">
      <div class="col-sm-4 text-left">&copy; {{ site.name }} {{ getYear() }}</div>
      <div class="col-sm-4 text-center"></div>
      <div class="col-sm-4 text-right">
        <button
          class="btn btn-link"
          *ngIf="!adalService.isAuthenticated"
          (click)="adalService.login()"
        >
          Sign in
        </button>
        <a routerLink="/admin" *ngIf="adalService.isAuthenticated">Admin</a>
      </div>
    </div>
  </footer>
</ng-container>
<ng-container *ngIf="!loaded">
  <div class="vertical-centered-box">
    <div class="content">
      <div class="loader-circle"></div>
      <div class="loader-line-mask one">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-mask two">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-mask three">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-mask four">
        <div class="loader-line"></div>
      </div>
    </div>
  </div>
</ng-container>
