<div class="list-box">
    <div class="row" cdkDropList [cdkDropListData]="images" (cdkDropListDropped)="drop($event)">
        <div cdkDrag class="col" *ngFor="let img of images">
            <div class="row m-2">
                <div class="col-3">
                    <img [src]="prefix + img.preview_small?.path" class="img-fluid" [attr.alt]="img.description" />
                </div>
                <div class="col-6">
                    <h4 class="m-1">{{ img.description }}</h4>
                    <p *ngFor="let file of img.files" class="m-1">{{ file }}: {{ img[file]?.width}} x {{img[file]?.height}} </p>
                </div>
                <div class="col-3">
                    <button *ngIf="canSelect" mat-raised-button color="accent" (click)="select(img)">Select</button>
                    <button *ngIf="canMove" mat-raised-button color="accent" (click)="move(img)">Move</button>
                    <button *ngIf="canDelete" mat-raised-button color="warn" (click)="remove(img)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>