<div class="list-box">
  <div
    cdkDropList
    [cdkDropListData]="images"
    (cdkDropListDropped)="drop($event)"
    *ngIf="images && images.length"
  >
    <div cdkDrag *ngFor="let img of images">
      <div class="row m-2">
        <div class="col-3">
          <img
            [src]="prefix + img.previewSmallPath"
            class="img-fluid"
            [attr.alt]="img.description"
          />
        </div>
        <div class="col-6">
          <h4 class="m-1">{{ img.description }}</h4>
          <p class="m-1">
            <a [attr.href]="prefix + img.previewSmallPath" target="_blank">Small</a>:
            {{ img.previewSmallWidth }} x {{ img.previewSmallHeight }} px
          </p>
          <p class="m-1">
            <a [attr.href]="prefix + img.previewMediumPath" target="_blank">Medium</a>:
            {{ img.previewMediumWidth }} x {{ img.previewMediumHeight }} px
          </p>
          <p class="m-1">
            <a [attr.href]="prefix + img.previewLargePath" target="_blank">Large</a>:
            {{ img.previewLargeWidth }} x {{ img.previewLargeHeight }} px
          </p>
          <p class="m-1">
            <a [attr.href]="prefix + img.rawPath" target="_blank">Original</a>: {{ img.rawWidth }} x
            {{ img.rawHeight }} px
          </p>
        </div>
        <div class="col-3">
          <button
            class="m-1"
            *ngIf="canSelect"
            mat-raised-button
            color="accent"
            (click)="select(img)"
          >
            Select
          </button>
          <button class="m-1" *ngIf="canMove" mat-raised-button color="accent" (click)="move(img)">
            Move
          </button>
          <button
            class="m-1"
            *ngIf="canDelete"
            mat-raised-button
            color="warn"
            (click)="remove(img)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
