<ng-container *ngIf="root">
  <div class="row">
    <div class="col">
      <h2 class="mt-4">Upload Media</h2>
      <div class="mt-4">
        <app-material-file-upload (uploadComplete)="onFileComplete()"></app-material-file-upload>
      </div>
    </div>
  </div>

  <h2 class="mt-4">Existing Media</h2>
  <div class="row mt-4">
    <div class="col-3">
      <h5>Select folder:</h5>
      <app-media-tree
        [nodes]="root"
        (nodesChange)="root = $event"
        (selectChange)="select($event)"
      ></app-media-tree>
    </div>
    <div class="col-9" *ngIf="currentFolder && currentFolder.images">
      <h5>Media for folder: {{ currentFolder.name }}</h5>
      <app-media-list
        [images]="currentFolder.images"
        [canSort]="true"
        [canDelete]="true"
        [canSelect]="false"
        [canMove]="true"
        (moved)="move($event)"
        (delete)="delete($event)"
      ></app-media-list>
    </div>
  </div>
  <h5>Add Folder</h5>
  <div class="row mb-5">
    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>New folder name:</mat-label>
        <input matInput [(ngModel)]="folderName" type="text" />
        <mat-hint> The name of the new folder to be added </mat-hint>
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button color="accent" (click)="addFolder()">Add Folder</button>
    </div>
  </div>
</ng-container>
<pre>{{ root | json }}</pre>
