<ng-container *ngIf="root">
  <div class="row">
    <div class="col">
      <h2 class="mt-4">Upload Media</h2>
      <div class="mt-4">
        <app-material-file-upload (uploadComplete)="onFileComplete()"></app-material-file-upload>
      </div>
    </div>
  </div>

  <h2 class="mt-4">Existing Media</h2>
  <div class="row mt-4">
    <div class="col-3">
        <app-media-tree [nodes]="root" (nodesChange)="select($event)"></app-media-tree>
      <!-- <tree-root *ngIf="root && root.folders && root.folders.length"
        [state]="state"
        [options]="options"
        [focused]="true"
        [nodes]="root"
        (activate)="select($event)"
      ></tree-root> -->
    </div>
    <div class="col-9" *ngIf="!(currentFolder && currentFolder.images)">
        Loading images...
    </div>
    <div class="col-9" *ngIf="currentFolder && currentFolder.images">
      <app-media-list
        [images]="currentFolder.images"
        [canSort]="true"
        [canDelete]="true"
        [canSelect]="false"
        [canMove]="true"
        (moved)="move($event)"
        (delete)="delete($event)"
      ></app-media-list>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-4">
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>New folder name:</mat-label>
        <input matInput [(ngModel)]="folderName" type="text" />
        <mat-hint> The name of the new folder to be added </mat-hint>
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button color="accent" (click)="addFolder()">Add Folder</button>
    </div>
  </div>
</ng-container>
<pre>{{root|json}}</pre>