<ng-container [ngSwitch]="section.name">
    <ng-container *ngSwitchCase="sectionTypes.GallerySection">
        <app-edit-gallery [(section)]="gallerySection"></app-edit-gallery>
    </ng-container>
    <ng-container *ngSwitchCase="sectionTypes.BannerSection">
        <app-edit-banner [(section)]="bannerSection"></app-edit-banner>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <!-- assume text -->
        <app-edit-text [(section)]="textSection"></app-edit-text>
    </ng-container>
</ng-container>
