/* You can add global styles to this file, and also import other style files */

$font-family-base: 'Roboto', sans-serif;
@import "node_modules/bootstrap/scss/bootstrap";

// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/reboot";

// @import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; margin: 0; }
//body { margin: 0; font-family: 'Courgette', cursive; }


@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */ 

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, cursive',
  $headline: mat-typography-level(48px, 72px, 700),
  $body-1: mat-typography-level(24px, 36px, 500),  
  $body-2: mat-typography-level(24px, 36px, 700),
  $caption: mat-typography-level(16px, 24px, 500),
  $input: mat-typography-level(24px, 1, 500),
);
@include angular-material-typography($custom-typography);

$my-custom-primary: mat-palette($mat-deep-purple);
$my-custom-accent: mat-palette($mat-purple);
$my-custom-warn: mat-palette($mat-red);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);

.mat-form-field-infix {
    padding: 0.2em 0 0.4em 0 !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.25em;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    top: 1.75em;
}

mat-form-field {
    &.ng-valid {
      .mat-form-field-wrapper {
        padding-bottom: 1.25em;
      }
    }
  
    &.ng-invalid,
    &.mat-form-field-invalid {
      .mat-form-field-wrapper {
        padding-bottom: 7px;
      }
    }
  
    &.ng-untouched {
      .mat-form-field-wrapper {
        padding-bottom: 1.25em;
      }
    }
  
    .mat-form-field {
      &-underline {
        position: static;
      }
  
      &-subscript-wrapper {
        position: static;
      }
    }
  }

.width-100 {
    width: 100%;
}

.card-active {
    background-color: mat-color($mat-purple, 200);
}

.card-inactive {
  background-color: mat-color($mat-purple, 100);
  opacity: 0.75;
}

.shaded {  
  background-color: mat-color($mat-purple, 50);
  border: 1px solid mat-color($mat-purple, 200);
  height: 100%;
}

mat-icon {
  vertical-align: top;
}

