section name: {{ section.name }}
<ng-container [ngSwitch]="section.name">
    <ng-container *ngSwitchCase="sectionTypes.GallerySection">
        <strong>Gallery</strong>
        <div class="container-fluid">
            <app-gallery [sourceData]="section"></app-gallery>
        </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <!-- assume text -->
       <p>Text</p> 
        <div [style.background-color]="textSection.backgroundColour">
            <div class="container" [style.color]="textSection.colour" [style.text-align]="textSection.align">
                <markdown *ngIf="textSection.text" [data]="textSection.text"></markdown>
            </div>
        </div>
    </ng-container>
</ng-container>